* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 350px;
}
.header__close-btn-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
.btn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: white;
}
.btn:hover{
  background-color: lightgray;
}
.header{
  padding: 0.2em 1em 1em 1em;
}
.footer {
  padding: 1em;
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  background-color: #6b9870;
  color: whitesmoke;
}

.margin-top-and-bottom {
  margin: 2em 0 2em 0;
}

.section-one {
  grid-column: 1/4;
  padding: 1em;
  border-bottom: 1px solid #6b9870;
}
.large-font{
  font-size: 1.5em;
}
.section-two {
  grid-column: 4/6;
  background-image: url("./images/forest.jpg");
  background-size: cover;
}

.link {
  text-decoration: none;
}
